#wrappercarousel {
	width: 100%;
}

#offres {
    width: 905px;
    height: 560px;
    overflow: visible;
	margin: auto;
	z-index: 100;
	padding-left: 30px;
}

.cloudcarousel {
    position: absolute;
    width: 668px;
    height: 453px;
	left: 206px;
	background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
	/*line-height: 1.2em;*/
}

.partie-droite {
	position: absolute;
	width: 265px;
	height: 453px;
	top: 5px;
    right: 10px;
    z-index: 990;
}

.cloudcarousel .pub {
    position: absolute;
	height: 350px;
}

.cloudcarousel .badges{
    position: absolute;
	height: 80px;
    top: 375px;
	left: 8px;
	right: 8px;
}

.badge1 {
	float: left;
}

.badge4 {
	float: left;
}

.badge3  {
	float: right;
}

.titre-offre {
	padding-top:10px;
	top:5px;
	text-align: center;
	text-transform: uppercase;
	font-family: BlairITCStd;
	color: #990099;
	height: 90px;
	overflow: hidden;
	font-size: 15pt;
	
	line-height:90px;
}

.titre-offre-div{
	vertical-align: middle;
	display: inline-block;
	line-height:25px;
}

.accroche {
	font-size: 15pt;
	line-height: 110%;
}

.accroche sup{
	/*font-size: 7pt;*/ 
	line-height:80%;
}

.savoir_plus {
	text-transform: uppercase;
	font-family: BlairITCStd;
	font-weight:bold;
	font-size: 12pt;
	margin-bottom: 10px;
}

.details-offre {
	overflow: hidden; 
	top: 110px;
	text-align: justify;
	height: 325px;
	left: 10px;
	/*Pour iPad sous iOS 5, mais on nécessaire car javascript iscroll.js compatible : -webkit-overflow-scrolling: touch;*/
}

.details-offre p {
	color: #555555;	
}

.details-offre h3 {
	text-transform: uppercase;
	font-family: BlairITCStd;
	color: #2872ae;
	font-size: 12px;
}

.offre_description{
	font-size: 13px;
}

.details-offre sup {
	line-height:80%;
}

.titre-offre, .details-offre {
	position: absolute;
	right: 295px;
	left: 15px;
	z-index: 990;
}

/*Ajout pour scroll vertical du texte*/
.offre-scrollview-buttons {
	float: right;
	margin-right:275px;
	margin-top: 65px;
}

.offre-scrollview-buttons .down-arrow {
	position: absolute;
	bottom:10px;
}

.popup {
	position: absolute;
	right: 10px;
	width: 255px;
	bottom: 90px;
	z-index: 999;
	/*text-align: justify;*/
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #619CD6 solid 2px;
	padding: 5px;
}

.popup .bottom-popup {
	margin-bottom: -25px;
}

.popup-offre-moment .bottom-popup {
	margin-left: 28px;
}

.popup-simulateur .bottom-popup {
	margin-left: 220px;
}

#bottom-popup-qrcode-img{
	position: absolute;
	bottom: -14px;
}

.titre-popup {
	text-transform: uppercase;
	font-family: BlairITCStd;
	font-size: 11px;
	color: #5f276d;
	margin-bottom: 10px;
}

.texte-popup {
	color: #619CD6;
}

.texte-qrcode-popup {
	color: #619CD6;
	width: 120px;
	float: right;
	margin-top: -15px;
}

.qrcode-popup {
	float: left;
	
}

