#universe {
	width: 1080px;
}

#picto_pro {
	top:260px; 
	left:360px; 
}

#picto_part {
	top:260px; 
	left:60px; 
}

#picto_bon_plan {
	top:235px; 
	left:670px; 
}

#universe {
	margin-top: -40px;
}

/*
footer{
	margin-top: -120px
}
*/

#espace_du_haut_univers{
	display: none;
}

#espace_du_bas_univers{
	display: none;
}
